<style>
    div.pre {
        margin: 5px;
        transform: rotate(45deg);
        width: 18.38477px;
        height: 18.38477px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        float: left;
    }
    div.main {
        text-align: center;
        color: white;
        padding-top: 4px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        margin-left: -16px;
        margin-right: -16px;
        height: 22px;
        min-width: 30px;
        float: left;
        white-space: nowrap;
    }
    div.post {
        margin: 5px;
        transform: rotate(45deg);
        width: 18.38477px;
        height: 18.38477px;
        border-right: 3px solid white;
        border-top: 3px solid white;
        float: left;
    }
</style>
<div style="display: flex">
    <div class="pre"></div>
    <div class="main">{label}</div>
    <div class="post"></div>
</div>