<style>
    div.work-item {
        padding: 1px 10px 10px;
        background-image: linear-gradient(90deg, #0a0707, #0a070700);
        min-width: 500px;
        margin-left: 25px;
        margin-right: 25px;
        height: 400px;
    }
    p.title {
        float: left;
        font-style: italic;
    }
    p.date {
        float: right;
        font-style: italic;
    }
    ul {
        margin-top: 4em;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    ul>li {
        margin-bottom: .5em;
    }
    a {
        text-decoration: none;
    }
    .svg-icon {
        margin-left: .5em;
    }
</style>

<component tag="link_icon" src="icons/link_icon.min.svg"></component>
<div class="work-item">
    <hr style="margin-top: -1px;">
        <a href="{href}" target="_blank" rel="noopener noreferrer">
            <h2>{company} 
                <link_icon style="margin-left: .5em;"></link_icon>
            </h2>
        </a>
    <hr>
    <div>
        <p class="title">{title}</p>
        <p class="date">{start} - {end}</p>
    </div>
    <ul>
        {work_items}
    </ul>
</div>